@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --main-bg-color: #f5f5f5;
    --main-font-family: "Raleway", "Helvetica", sans-serif;
    --main-color: rgb(60, 59, 59);
    --btn-color: rgb(0, 165, 95);
    --border-color: #cfcfcf;
    --font-size-small: 0.8rem;
    --letter-spacing: 2.4px;
}

#main-container {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 4rem;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--main-color);
}

#btns-container a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 3rem;
    background-color: var(--btn-color);
    color: white;
    border: none;
    font-size: 1.4rem;
    margin: 0 1rem;
    text-decoration: none;
    transition: all 0.1s ease-in;
    font-weight: 500;
}

#btns-container a:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #888;
    transform: scale(1.03);
}

@media only screen and (max-width: 1200px) {
    #main-container {
        width: 80%;
    }
}

@media only screen and (max-width: 728px) {
    #main-container {
        width: 90%;
        padding: 4rem 0;
    }

    #btns-container a {
        width: 10rem;
        font-size: 1.2rem;
    }
}
