@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap");

:root {
    --main-bg-color: #f5f5f5;
    --main-font-family: "Raleway", "Helvetica", sans-serif;
    --main-color: #3c3b3b;
    --btn-color: #00a55f;
    --hover-color: rgb(0, 165, 95);
    --border-color: #cfcfcf;
}

#gestione-clienti-table-container {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 1rem;
}

#gestione-clienti-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#gestione-clienti-table thead tr th {
    background-color: var(--btn-color);
    color: white;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9rem;
}

#gestione-clienti-table tbody tr {
    border-bottom: 1px solid var(--border-color);
    transition: background-color 0.2s ease-in-out;
}

#gestione-clienti-table tbody tr:hover {
    background-color: rgba(0, 165, 95, 0.1);
}

#gestione-clienti-table tbody tr td {
    padding: 0.8rem 0.6rem;
    text-align: center;
    font-size: 0.9rem;
    color: var(--main-color);
    border: 1px solid var(--border-color);
    white-space: nowrap;
    vertical-align: middle;
}

#gestione-clienti-table tbody tr td:first-child {
    max-width: 14rem;
    text-wrap: wrap;
}

#gestione-clienti-table tbody tr td a {
    text-decoration: none;
    font-weight: 700;
    color: var(--main-color);
    transition: color 0.1s ease-in;
}

#gestione-clienti-table tbody tr td a:hover {
    color: var(--hover-color);
    cursor: pointer;
}

.actions {
    text-align: center;
    vertical-align: middle;
}

#edit-btn,
#delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

#edit-btn svg,
#delete-btn svg {
    margin: auto;
    vertical-align: middle;
    color: var(--main-color);
    transition: color 0.2s ease-in-out;
}

#edit-btn:hover svg,
#delete-btn:hover svg {
    color: var(--hover-color);
}
