.im-close-button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: var(--main-color);
    transition: color 0.2s;
}

.im-close-button:hover {
    cursor: pointer;
    color: var(--hover-color);
}

#modal-title {
    font-size: 2rem;
    font-weight: 500;
    color: var(--btn-color);
    margin: 1rem 0 2.5rem;
    text-align: center;
}

.im-modal-wrapper {
    max-width: 80%;
}

.im-modal-wrapper:has(#eliminazione-cliente-container),
.im-modal-wrapper:has(#caricamento-lavorazione-container) {
    max-width: 50%;
}

.im-modal-container form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 2rem 3rem;
    padding: 0 1rem;
}

.im-modal-container .form-field {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.im-modal-container .form-field label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--main-color);
}

.im-modal-container .form-field input {
    padding: 12px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
    transition: border 0.3s ease-in-out;
}

.im-modal-container .form-field input:focus {
    border-color: var(--hover-color);
    outline: none;
}

#btns-container {
    width: 100%;
}

#eliminazione-cliente-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

#eliminazione-cliente-container p {
    font-size: 1.2rem;
}

#caricamento-lavorazione-container .form-field {
    margin: 0 auto;
    width: 60%;
}

#cliente-cognome-nome {
    font-weight: 600;
}

.modal-form-btn {
    margin: 0.5rem 0 1.5rem;
    padding: 12px;
    width: 8rem;
    font-size: 1.1rem;
    color: white;
    background-color: var(--btn-color);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.1s ease-in;
    font-weight: bold;
}

.modal-form-btn:hover {
    scale: 1.05;
}

#modal-submit-btn {
    background-color: var(--btn-color);
}
#modal-submit-btn:hover {
    background-color: rgba(0, 165, 96, 0.7);
}

#modal-reset-btn {
    background-color: red;
}
#modal-reset-btn:hover {
    background-color: rgba(255, 0, 0, 0.7);
}

#modal-close-btn {
    background-color: var(--main-color);
}
#modal-close-btn:hover {
    background-color: rgb(60, 59, 59, 0.7);
}
