#layout-header {
    background-color: var(--main-bg-color);
    font-family: var(--main-font-family);
    background-color: #ffffff;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    border: 1px solid var(--border-color);
}

#layout-header h1 {
    font-size: 12.8px;
    font-weight: 800;
    letter-spacing: 4px;
}

#header-logo {
    text-decoration: none;
    color: var(--main-color);
    transition: all 0.1s ease-in;
}

#header-logo:hover {
    color: var(--hover-color);
}

.logout-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
}

.logout-btn:hover {
    cursor: pointer;
}

.logout-btn svg {
    width: 1.5rem;
    height: 1.5rem;
}

.logout-icon {
    color: var(--main-color);
    transition: color 0.3s ease;
}

.logout-btn:hover .logout-icon {
    color: var(--hover-color);
}

#layout-main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

#layout-footer {
    font-family: var(--main-font-family);
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    color: #333333;
    letter-spacing: var(--letter-spacing);
    font-size: 0.6rem;
}

#layout-footer,
#layout-footer p a {
    text-decoration: none;
    transition: all 0.1s ease-in;
}

#layout-footer:hover,
#layout-footer p a:hover {
    color: var(--hover-color);
    cursor: pointer;
}

#layout-footer p a:visited {
    color: inherit;
}
