.im-close-button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    transition: color 0.2s;
}

.im-close-button:hover {
    cursor: pointer;
    color: var(--hover-color);
}

.im-modal-wrapper {
    max-width: 100%;
    padding: 2rem;
}

.im-modal-content {
    padding: 3rem;
}
