@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --main-bg-color: #f5f5f5;
    --main-font-family: "Raleway", "Helvetica", sans-serif;
    --main-color: rgb(60, 59, 59);
    --btn-color: rgb(0, 165, 95);
    --border-color: #cfcfcf;
    --font-size-small: 0.8rem;
    --letter-spacing: 2.4px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
main {
    overflow-y: auto;
}

html {
    box-sizing: inherit;
    width: 100%;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: var(--main-font-family);
    background-color: var(--main-bg-color);
    position: relative;
    overflow-x: hidden;
}

main {
    width: 100vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 4rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 3rem;
    padding: 2rem;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--main-color);
}

#btns-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#btns-container a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 3rem;
    background-color: var(--btn-color);
    color: white;
    border: none;
    font-size: 1.4rem;
    text-decoration: none;
    transition: all 0.1s ease-in;
    font-weight: 500;
}

#btns-container a:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #888;
    transform: scale(1.03);
}

#btns-container a:nth-of-type(3),
#btns-container a:nth-of-type(4) {
    color: var(--main-color);
    background-color: white;
    border: 1px solid var(--main-color);
}

#btns-container a:nth-of-type(3):hover,
#btns-container a:nth-of-type(4):hover {
    border: 2px solid var(--hover-color);
    color: var(--hover-color);
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 728px) {
}
