<p>Lista pizze:</p>
<ul>
  <li (click)="onSelectedPizza(listaPizze[0])">
    {{ listaPizze[0].nome }}
  </li>
  <li (click)="onSelectedPizza(listaPizze[1])">
    {{ listaPizze[1].nome }}
  </li>
  <li (click)="onSelectedPizza(listaPizze[2])">
    {{ listaPizze[2].nome }}
  </li>
  <li (click)="onSelectedPizza(listaPizze[3])">
    {{ listaPizze[3].nome }}
  </li>
  <li (click)="onSelectedPizza(listaPizze[4])">
    {{ listaPizze[4].nome }}
  </li>
  <li (click)="onSelectedPizza(listaPizze[5])">
    {{ listaPizze[5].nome }}
  </li>
  <li (click)="onSelectedPizza(listaPizze[6])">
    {{ listaPizze[6].nome }}
  </li>
  <li (click)="onSelectedPizza(listaPizze[7])">
    {{ listaPizze[7].nome }}
  </li>
  <li (click)="onSelectedPizza(listaPizze[8])">
    {{ listaPizze[8].nome }}
  </li>
  <li (click)="onSelectedPizza(listaPizze[9])">
    {{ listaPizze[9].nome }}
  </li>
</ul>
